<%= link_to 'New Post', new_article_path %>

<h1>Articles on blog:</h1>
<div>
  <% @articles.each do |art| %>
    <h3><%= link_to art.title, article_path(art) %></h3>
    <small><%= link_to 'Edit', edit_article_path(art) %></small>
    <p><%= art.body %></p>
    <hr>
  <% end %>
</div>